

input{
  border-radius: 5px;
  border-style: none;
}
/* App.css */



/* .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
} */

.input-group {
  max-width: 500px;
  width: 100%;
}

/* App.css */

.card {
  margin: 13px;
  background-color: rgba(255, 255, 255, 0.1);
  /* Transparent card background */
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); /* Initial box shadow */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-10px); /* Slight lifting effect on hover */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5); /* Stronger shadow on hover */
}

.card-body {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px;
  transition: background-color 0.3s ease;
}


.container {
  background-color: lightgrey; /* Set the background color */
   /* Full width of the viewport */
   /* Full height of the viewport */
  padding: 20px;
  border-radius: 10px; /* Optional: round corners */
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  
}


